.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__heading {
        &__h2 {
            font-size: 70px;
            font-weight: 600;
            font-family: initial;
        }
    }

    &__cardsSection {
        width: 100%;
    }
}