<div class="container">
    <div class="container__heading">
        <p appH3style header="Slow Cooker Texas Style Chili"></p>
    </div>
    <div class="container__data">
        <div class="ingredients1" appIngedientleft>
            <p> 1 : They have the best products ranging from pastas to sauces to canned tomatoes, many of which are
                imported from Italy. They set such a high bar for quality.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 2 : In addition to the tomatoes and butter, a pinch of salt goes in there, too. And sometimes I add a
                few smashed garlic cloves. Hence the “5 ingredient” title.</p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 3 :I use an immersion blender to blend directly in the pot. The butter gets emulsified, which makes it
                just a little creamy, and the whole thing is luscious, velvety, simple and delightful.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 4 : several times this fall (waffled grilled cheese with squishy white bread, don’t @ me), the garlic
                bread + tomato soup combo is really underrated and absolutely worthy of consideration. </p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 5 :We have a really awesome tomato soup already on Pinch of Yum, so I debated the necessity of having a
                second recipe here. But ultimately I decided they really serve two different moments.</p>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" routerLink="author2">Author Details</button>
</div>