<div class="container">
    <div class="container__heading">
        <p appH3style header="5 Ingredient Tomato Soup"></p>
    </div>
    <div class="container__data">
        <div class="ingredients1" appIngedientleft>
            <p> 1 : I do this in a blender to get the eggs extra fluffed up.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 2: Pour the batter into the pan, and immediately give it a slight tilt so the batter spreads wider to
                create a thinner edge. I recommend holding both the blender to pour, AND the handle of the pan at the
                same time so you can almost do this simultaneously.</p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 3: I like to go for a golden brown on the first side of my pancakes (1-2 minutes).
                They are so thin that once the first side is cooked, you really only need 10-20 seconds on the back
                side.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 4 : I’ve always eaten this combination together and it’s SO good – sweet, but tart, with a really nice
                little bit of bitterness that just of the pancakes.
            </p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 5 : PB&J and less Swedish Pancakes to me. But I’m just saying this because this is my website. You do
                you.
            </p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p>6: And I’m very strongly going to advocate for lingonberry jam! What are Swedish pancakes without
                lingonberry jam?! I’ve always eaten this combination together and it’s SO good
            </p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 7 : we have chosen those roles for ourselves and I am so happy to be the 99% of the time dinner-maker.
                But last month, on more than one occasion,
            </p>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" routerLink="author3">Author Details</button>
</div>