<div class="container">
    <div class="container__heading">
        <p appH3style header="Easy Instant Pot Applesauce"></p>
    </div>
    <div class="container__data">
        <div class="ingredients1" appIngedientleft>
            <p> 1 : Hot take: I don’t peel them! Apple peels are delicious. I just cut the apples into quarters or
                chunks
                and
                toss ’em in the Instant Pot.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 2 : I do two cinnamon sticks (or, in this case, some shards of cinnamon stick left at the bottom of the
                bag) and 1/2 cup water..</p>
        </div>
        <div class="ingredients1" appIngedientleft>
            <p> 3: I cook the applesauce for 5 minutes – then it’s a quick hybrid mash/blend with the immersion
                blender.</p>
        </div>
        <div class="ingredients1" appIngedientright>
            <p> 4 : This is just such a delight in our household. Eaten warm, cold, with a meal, or on its own.
                Simplicity for the win!</p>
        </div>
    </div>
    <button type="button" class="btn btn-outline-dark" routerLink="author1">Author Details</button>
</div>